[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
coverage-badge = "*"

[packages]
obonet = "*"
fire = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.7"
