[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
twine = "*"

[packages]
gensim = "<4.0"
obonet = "*"
fire = "*"
lightgbm = "*"
pandas = "*"
numpy = "*"
scipy = "*"
joblib = "0.17"
txt2hpo = "*"

[requires]
python_version = "3.7"
